<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="bg-gray-900">
      <ion-header>
        <ion-toolbar class="bg-gray-900">
          <ion-title class="text-white font-semibold">Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="bg-gray-800">
        <ion-list class="bg-gray-800" lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item 
              [routerLink]="['/dashboard']" 
              routerDirection="root" 
              class="bg-gray-800 text-gray-300 hover:bg-gray-700">
              <ion-icon slot="start" name="speedometer" class="text-gray-400"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>

            <ion-item 
              [routerLink]="['/categories']" 
              routerDirection="root" 
              class="bg-gray-800 text-gray-300 hover:bg-gray-700">
              <ion-icon slot="start" name="layers" class="text-gray-400"></ion-icon>
              <ion-label>Categorías</ion-label>
            </ion-item>

            <ion-item 
              (click)="logout()" 
              class="bg-gray-800 text-gray-300 hover:bg-gray-700">
              <ion-icon slot="start" name="log-out" class="text-gray-400"></ion-icon>
              <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>