rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Permitir lectura pública de imágenes de productos
    match /img/products/{productId}/{fileName} {
      allow read: if true;
      // Puedes ajustar la escritura según tus necesidades
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    // Otras reglas existentes
    match /{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}
