ion-content {
  --background: #f8f9fa;
}

.setting-item {
  --padding-start: 20px;
  --padding-end: 20px;
  --inner-padding-end: 0;
  --background: transparent;
  

}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}