<div class="bg">
    <header class="container mx-auto relative flex items-center justify-center overflow-hidden">
        <!-- Imagen de fondo full-width -->
        <div class="header">


            <div class="absolute inset-0 z-0 img-box">
                <img src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2000&q=80"
                    alt="Muebles elegantes Verona" class="w-full h-full object-cover" />
                <!-- Overlay oscuro para mejor legibilidad -->
                <div class="absolute inset-0 bg-black/30"></div>
            </div>

            <!-- Contenido principal -->
        </div>


    </header>
</div>